name: Gates Workflow

on:
  workflow_call:
    inputs:
      run_sonar_scan:
        required: true
        type: boolean

jobs:
  sonar-scan:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    if: inputs.run_sonar_scan
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}



